body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;

}


.left-content,
.right-content {
    height: 100vh;
    flex: 1;

}


.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*nao funciona porque nao é um row vc colocou columna entoa nao ta fzd nada se vocs queria q fique
    no meio que nem embaico seria align-items*/
    background-image: url("../assets/fundo_login_cadastro.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Hind Vadodara', sans-serif;
    color: #FFFF;


}


.right-content {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;    
  
    
    background-color: #1D1D1D;
    font-family: 'Inter', sans-serif;
    color: white;
}

.logotipo {/*verifica a clase usada no html, nao existe logotipo*/

    display: flex;
    width: 50px;
    height: 150px;
}

.txt {
    color: white;
}

.image {
    display: flex; /*aqui sim voce esta mexewndo com a imagem mas para que fique no topo ou vc usa align-self , positiion ou com margin-top negativou ou margin-botttom */
    width: 1vh;
    height: 50vh;
}

.txt-laranja {
    color: #DEA976;
}

button {
    width: 50vh;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #DEA976;
    color: white;
}
button:hover{
    transform: translateY(-10px);
}
/*exemplo de annimação assim que o mouse passa no botao no caso eu transform a escala y do plano cartesiano para -10 px, 
da para mudar o fundo, tamanho, varias coisas tenta experimentar e usar naquele bom vindo para que o border bottom seja width de 100%
dica: no html tira essa linha e coloca uma borda emcbaico no css antes de usar a tag hover já que o css é cascata
*/
input {
    width: 50vh;
    max-width: 300px;
    padding: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 15px;
    color: white;
}


.titulo-right {
    display: flex;
    margin-bottom: 1px;
    color: #DEA976;
}

.title {
    display: flex;
    margin-bottom: 25vh;
    align-items: center;

    

}