@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Italiana&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap');
/*  font-family: "Playfair Display", serif;*/
/*font-family: "Teko", sans-serif;*/
:root{
    --amarelo: #F9C06A;
    --marrom: #603809;
    --cinza: #F4F4F4;
    --marrom_claro: #FFEED8;
    --fundo: #FFFEFC;
    --texto_irrelevante: #707070;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playfair Display", serif;
    color: var(--texto_irrelevante);
    height: 100%;
    background-color: var(--fundo);
    overflow-x: hidden ;
}
a{
    all: unset;
    cursor: pointer;
}
#cabecalho .nav {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #00000059;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    color: #F4F4F4;
}
.nav img{
    width: 100px;
}
.nav-list1 ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    word-spacing: 2rem;
    letter-spacing: 1.5px;
}
.nav-list2 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
    letter-spacing: 1.5px;
}
#boton{
    background-color: var(--amarelo);
    padding: 0.7rem;
    color: black;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin-top: -10px;
}
#home {
    background-image: url("https://i.imgur.com/xASSqZb.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--cinza);
    font-size: 23px
}
#home .container{
    display: flex;
}
#home .container .column-1{
    margin-top: 6rem;
    width: 50%;
    padding: 5rem;
}
#vinho{
    font-family: "Italiana", sans-serif;
    font-size: 220px;
}
#home button {
    border: none;
    padding: 1rem;
    margin-left: 80%;
    margin-top: 2rem;
    border-radius: 3rem;
}
.monitoramento .container {
    display: flex;
    margin-top: 2rem;
}
.monitoramento .column-1 {
    padding: 3rem;
    width: 80%;
}
.monitoramento .column-2{
    width: 35%;
}
.monitoramento h2{
    color: var(--marrom);
    font-size: 54px;
}
.monitoramento img {
    width: 40rem
}
.monitoramento p{
    margin-top: 2rem;
    font-size: 1.7rem;
}
.monitoramento button {
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 3rem;
    background-color: var(--amarelo);
    font-size: 1rem;
}
.titulo {
    text-align: center;
    color: var(--marrom);
    font-size: 54px;
}
.titulo p {
    font-size: 30px;
}
.servicos .container{
    display: flex;
    
}
.card{
    background-color: var(--cinza);
    padding: 40.37px;
    border-radius: 17.94px;
    margin: 50px;
    font-size: 16.15px
}
.card h5{
    font-size: 22.43px;
    margin-top: 56px;
}
.diferentes .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
.caixa {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 60px;
    background-color: var(--cinza);
    color: var(--marrom);
    font-size: 20px;
    text-align: center;
}
.caixa h4{
    font-size: 28px;
    margin-bottom: 3px;
}
#comece_hoje{
    text-align: center;
}
#comece_hoje h5{
    font-size: 2rem;
    color: var(--marrom);
}
#comece_hoje button {
    border: none;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 3rem;
    background-color: var(--amarelo);
}