
.topo {
    display: flex;
    padding: 1vh 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}
.topo .column-1{
    font-size: 26px;
    display: flex;
    align-items: center;
}
.sub select{
    background-color: #15191c00;
    color: white;
    border-color: #ffffff00;
    padding:2% 0%;
    width: 150px;
    font-size: 1rem;
}
option {
    background-color: #15191C;
}
.sub {
    display: flex;
    justify-content: space-between;
    gap: 8vh;
    border-color: #7e9b7e00;
}
.sub input{
    padding: 10px 25px;
}


.topo .column-2{
    justify-content: flex-end;
}
.topo .column-2 div{
    display: flex;
    align-items: center; 
    padding: 10px;
}


.container{
    display: flex;
    padding: 1.8vh 3.8vh;
    gap: 1.5rem;

}
.container .column-1 {
    width: 19%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container .column-2 {
    width: 57%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .column-3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1rem;
}
.pizza , .donut{
    position: relative;
    height: 32.4vh;
}
#contem_grafico_redondo{
    height: 28vh;
}

.card-topo{
    display: flex;
    justify-content: space-between;
    padding: 0vh 4vh;
}
.card {
    background-color: white;
    border-radius: 10px;
    color: #15191C;
    width: 16%;
    font-size: 3vh;
    text-align: center;
    padding: 1vh 2.7vh;
}
.card p{
    font-size: 2.7vh;
}
.pouco_texto h2{
    padding-top: 12%;
}
.notificacoes {
    background-color: #2C343A;
    padding: 1rem;
}
#icone_fechar{
   padding-left: 10vh;
 
}
.notificacoes span{
    color: blue;
}
.notificacao {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}
.notificacao span{
    color: #95999C;
    font-size: 14px;
}
.notificacao img{
    height: 30px;
    padding-right: 10px;
}
#notificacao_caixa{
    position: absolute;
    top:5vh;
    right: 10vh;
    border-radius: 10px;
}
/*comceco grafico*/
.grafico{
    background-color: white;
    border-radius: 10px;
    padding: 0.6vh 1vh;
    color: black;
    text-align: center;
    font-size: 2.5vh;
}


/*acaba grafico*/
/* armazem1*/
.card-parametros{
    display: flex;
    text-align: center;
    padding-left: 2rem;
    flex-direction: column;
}
.card-parametros .temperatura{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.critico {
    background-color: #f70000;
    border-radius: 10px;
}
.alerta {
    background-color: #d6d304;
    border-radius: 10px;
}
.ideal {
    background-color: #09a309;
    border-radius: 10px;
}
.temperatura h2{
    padding-bottom: 0.5vh;
}
.concluida{
    text-decoration:  line-through #83aa5e8f;
}