@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Italiana&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap');
/*  font-family: "Playfair Display", serif;*/
/*font-family: "Italiana", sans-serif;*/
:root{
    --preto: #15191C;
    --azul: #1D232A; 
    --cinza: #95999C;
}
* {
    padding: 0;
    margin: 0;
}
a{
    all: unset;
    cursor: pointer;
}
body {
    background-color: var(--azul);
    color: white;
    display: flex;
}
.main{
    width: 100%;
}
/*aqui*/
.side-bar{
    width: 204px;
    background-color: var(--preto);
    min-height: 100vh;
}
#atual {
    border-left: solid 8px rgb(255, 255, 255);
}
.nav-list{
    font-size: 16px; 
}
.side-bar p{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2.5rem;
}

.nav-list a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cinza);
    font-size: 16px;
    padding: 10px 15px;
}
/*ate*/
.topo {
    display: flex;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}
.topo .column-1{
    font-size: 26px;
}
.topo .column-2{
    justify-content: flex-end;
}
.topo .column-2 div{
    display: flex;
    align-items: center; 
    padding: 10px;
}
.sub {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    margin: 0rem 2rem;
    border-bottom: solid 1px rgb(255, 255, 255);

}
.sub .column-1{
    display: flex;
    align-items: center;
    font-size: 2rem;
}


.container{
    display: flex;
    padding: 2rem ;
    justify-content: space-between;
}
.column-2{
    display: flex;
    width: 80%;
}
.painel{
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: #15191C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 18rem;
}
.resposta {
    padding: 2rem;
}
.resposta p {
    background-color: #1D232A;
    color: white;
    padding: 2%;
    border-radius: 1rem;
    width: 30%;
}
.mensagem{
    display: flex;
    justify-content: center;
}
input{
    width: 85%;
    padding: 0.4rem 1rem;
}
#seta {
    width: 30px;
}
